<div class='text-center'>
  <h1><%= @facility.name %></h1>
  <table class="btn-group">
    <tr>
      <th>Patient's Name</th>
      <th>Action(s)</th>
    </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <%= patient.full_name %>
        </td>
        <td>
          <%= link_to 'View Emergency Transfer Summary', emergency_transfer_summary_path(patient.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
